<h1 class="pageTitle">
        {translate(pageTitle)} {if:mode}:: {translate(mode)}{end:}
</h1>
<div class="message">{msgGet()}</div>
<table class="wide">
    {if:wizardData}
    <tr>
        <td align="left">
            <table border=0>
                <thead>{translate(#Verify data you entered#)}</thead>
                    <tr flexy:foreach="wizardData,key,val">
                        <th>{humanise(key)}</th><td>{val}</td>
                    </tr>
            </table>
        </td>
    </tr>
    {end:}
</table>
{wizardOutput:h}
